@import './variables';

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 40px 80px;
  &__contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    &-contactos {
      margin: 10px 0;
    }
    &-horario {
      margin: 10px 0;
      
      select {
        padding: 10px 10px 10px 0;
        border-radius: 3px;
        background: $Formulario;
      }
    }
    &-opciones {
      padding: 10px;
      &-opcion {
        padding: 10px;
      }
      padding: 15px;
    }
  }
  &__label {
    font-size: 1.3em;
    margin: 5px;
  }
  &__input {
    padding: 15px;
    width: 450px;
    border-radius: 2px;
    border: 1px solid $ColorSecundario;
    background: $Fondo;
    &:enabled {
      border: none;
    }
    &:target {
      border: none;
    }
  }
  &__mensaje {
    min-width: 450px;
    max-width: 450px;
    min-height: 100px;
    max-height: 150px;
    padding: 5px;
    background-color: $Fondo;
  }
  &__boton {
    padding: 10px 150px;
    margin-top: 20px;
    background: $Boton;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.1em;
    color: $BotonLetras;
    transition: 0.3s linear;
    &:hover {
      cursor: pointer;
      background: $BotonHover;
      color: $ColorSecundario;
      transform: scale(1.01);
      -webkit-box-shadow: 0px 0px 0px 2px $BotonSombras;
      -moz-box-shadow: 0px 0px 0px 2px $BotonSombras;
      box-shadow: 0px 0px 0px 2px $BotonSombras;
    }
  }
  &__tabla {
    border: 1px solid $ColorSecundario;
    padding: 8px;
    text-align: start;
    &-columnas {
      border: 1px solid $ColorSecundario;
      background: $TablasFondo;
      color: $ColorTerciario;
      text-align: center;
      padding: 5px 10px;
    }
    tr td {
      border: 1px solid $ColorSecundario;
      padding: 10px;
      text-align: center;
    }
  }
  @media (max-width: 375px){
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 40px 10px;
    gap: 20px;
    &__contenedor{
      width: 100%;
      &-tabla{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
    &__label{
      font-size: 1.1em;
    }
    &__input{
      width: 280px;
    }&__mensaje{
      max-width: 300px;
      min-width: 300px;
    }
    &__boton{
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
