@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,400&display=swap');

//General
$Font: 'Montserrat', sans-serif;
$FondoGeneral: rgb(204,204,204); 
$FondoGradiente: linear-gradient(180deg, rgba(204,204,204,1) 52%, rgba(0,0,0,1) 100%);

//Colores generales
$ColorPrimario: #c78c19;
$ColorSecundario: #000;
$ColorTerciario: #fff;

$SombraImagen: #00000080;
$Subrayado: #f00;

$Active: #088c19;
$Fondo: #ccc;
$Formulario: #cccccc9a;
$Boton: #ffb82a;
$BotonLetras: #474747;
$BotonHover: #ffa724;
$BotonSombras: #00000091;

$TablasFondo: #000000cc;